<div class="search-partial">
  <form name="search" onsubmit="return result();">
    <input name="postcode" type="text" id="search" tabindex="1">
    <input type="submit" value="Search" tabindex="2"></button>
  </form>
</div>